body {
    font-family: "Montserrat", sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #686767;
    color: white;
    padding-top: 20px;
    text-align: center;
}
header h1{
    font-size: 3em;
    line-height: 2;
    font-weight: 800;
}
nav h2 {
    background-color: #949494;
    display: inline-block;
    padding: 10px 70px 10px 70px;
    margin: 40px;
    border-radius: 10px;
    text-align: center;
}
.im1 {
    display: flex;
    align-items: center; 
    gap: 40px; 
}
.im1 a{
    font-size: 2em;
    text-align: center;
    }
.im1 img{
    width: 400px;
    height: auto;
}
section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
